.main-post{
    background-color: wheat;
}
.main-post .post-section{
    width: 50%;
    margin: 0 auto;
    padding: 80px 40px;
    background-color: white;
}
.main-post .post-section h3{
    font-size: 24px;
    color: #492634;
    font-weight: bold;
    margin-bottom: 15px;
}
.main-post .post-section textarea{
    height: 100px;
    margin-bottom: 15px;
}

@media screen and (max-width: 776px) {
    .main-post .post-section{
        width: 75%;
        padding: 40px 40px;
    }
}